flows_Koa-Laptop.json
[
    {
        "id": "df3448ae.3b3be8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b040149.50cdce8",
        "type": "tab",
        "label": "Wikipedia",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96d6fda7.7e85a",
        "type": "gauth"
    },
    {
        "id": "80cc5dbc.88601",
        "type": "ui_group",
        "name": "Wiki",
        "tab": "2e22bb38.8d9534",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "6a8a97fd.1472f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2e22bb38.8d9534",
        "type": "ui_tab",
        "name": "Wikipedia",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f8439ecd.7a9c1",
        "type": "ui_group",
        "name": "Info",
        "tab": "2e22bb38.8d9534",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "4ec7a30.496b05c",
        "type": "inject",
        "z": "df3448ae.3b3be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "5522e74d.213b48"
            ]
        ]
    },
    {
        "id": "5522e74d.213b48",
        "type": "debug",
        "z": "df3448ae.3b3be8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "635a98dd.379758",
        "type": "GSheet",
        "z": "b040149.50cdce8",
        "creds": "96d6fda7.7e85a",
        "method": "get",
        "action": "",
        "sheet": "1-RCkou1-fFh03lOdM4pBDjvVid5J3f6aVKq9PC3tQeE",
        "cells": "Sheet1!A2:F6",
        "flatten": false,
        "name": "",
        "x": 910,
        "y": 100,
        "wires": [
            [
                "6a79dea.68a202"
            ]
        ]
    },
    {
        "id": "914ad8cd.3f4588",
        "type": "ui_dropdown",
        "z": "b040149.50cdce8",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select fish",
        "group": "80cc5dbc.88601",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 1280,
        "y": 100,
        "wires": [
            [
                "512445d8.40756c"
            ]
        ]
    },
    {
        "id": "6a79dea.68a202",
        "type": "function",
        "z": "b040149.50cdce8",
        "name": "GetData",
        "func": "var tmp1 = []\nvar tmp2 = []\nfor (var i = 0; i < msg.payload.length; i++)\n{\n    var t_obj = {};\n    t_obj[msg.payload[i][0]] = i\n    tmp1.push(t_obj)\n    tmp2.push(msg.payload[i])\n}\nflow.set(\"Fish\",tmp2);\nvar newMsg = {\n    options: tmp1\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "914ad8cd.3f4588"
            ]
        ]
    },
    {
        "id": "a1a52f.98b64ad",
        "type": "inject",
        "z": "b040149.50cdce8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "635a98dd.379758"
            ]
        ]
    },
    {
        "id": "ba4d7178.dc48",
        "type": "ui_template",
        "z": "b040149.50cdce8",
        "group": "f8439ecd.7a9c1",
        "name": "",
        "order": 2,
        "width": "10",
        "height": "10",
        "format": "<h2>\n    Info:\n</h2>\n<div>\n    <h4 style=\"display: inline;\">Temperature: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[1]}}</h4>\n    <h4 style=\"display: inline;\"> °C</h4>\n</div>\n<div>\n    <h4 style=\"display: inline;\">pH: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[2]}}</h4>\n</div>\n<div>\n    <h4 style=\"display: inline;\">Water change: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[3]}}</h4>\n    <h4 style=\"display: inline;\"> %</h4>\n</div>\n<br>\n<div> {{msg.payload[5]}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "512445d8.40756c",
        "type": "function",
        "z": "b040149.50cdce8",
        "name": "PrintData",
        "func": "var fish = flow.get(\"Fish\")\nvar newMsg = {\n    payload: fish[msg.payload]\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "ba4d7178.dc48",
                "73f1d52.3ac792c"
            ]
        ]
    },
    {
        "id": "73f1d52.3ac792c",
        "type": "ui_template",
        "z": "b040149.50cdce8",
        "group": "80cc5dbc.88601",
        "name": "",
        "order": 0,
        "width": "10",
        "height": "9",
        "format": "<img src={{msg.payload[4]}}>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1140,
        "y": 320,
        "wires": [
            []
        ]
    }
]