flows_Koa-Laptop.json
[
    {
        "id": "df3448ae.3b3be8",
        "type": "tab",
        "label": "Condition",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b040149.50cdce8",
        "type": "tab",
        "label": "Wikipedia",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27157737.c8f3b8",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8980df89.7c554",
        "type": "tab",
        "label": "Setting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96d6fda7.7e85a",
        "type": "gauth"
    },
    {
        "id": "80cc5dbc.88601",
        "type": "ui_group",
        "name": "Wiki",
        "tab": "2e22bb38.8d9534",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "6a8a97fd.1472f8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#005457",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#6092e1",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#005457",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#005457",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#009ea3",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#005457",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2e22bb38.8d9534",
        "type": "ui_tab",
        "name": "Wikipedia",
        "icon": "fa-wikipedia-w",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f8439ecd.7a9c1",
        "type": "ui_group",
        "name": "Info",
        "tab": "2e22bb38.8d9534",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "6599e412.12713c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eac5fb6a.d348e8",
        "type": "ui_tab",
        "name": "Condition",
        "icon": "fa-signal",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "76ac188b.7279c8",
        "type": "ui_group",
        "name": "Fish Tank Condition",
        "tab": "eac5fb6a.d348e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c9b62aa.3406ac",
        "type": "ui_tab",
        "name": "Login",
        "icon": "fa-sign-in",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9bb4db2c.707848",
        "type": "ui_group",
        "name": "Login",
        "tab": "4c9b62aa.3406ac",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "c85a452c.af0288",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "fa-cog",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "949bac93.8ca2",
        "type": "ui_group",
        "name": "Status",
        "tab": "c85a452c.af0288",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ca6549a.4df1c8",
        "type": "ui_group",
        "name": "Information",
        "tab": "c85a452c.af0288",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15b99e9f.1bd151",
        "type": "ui_group",
        "name": "Account setting",
        "tab": "c85a452c.af0288",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "96f5631c.f024f",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3d094f5.97eed8",
        "type": "ui_group",
        "name": "Control",
        "tab": "c85a452c.af0288",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cceee71.9d0ba",
        "type": "ui_group",
        "name": "Status",
        "tab": "eac5fb6a.d348e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "72c943f7.b0a46c",
        "type": "mqtt in",
        "z": "df3448ae.3b3be8",
        "name": "",
        "topic": "Web/condition",
        "qos": "2",
        "datatype": "auto",
        "broker": "6599e412.12713c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "b2bf3a48.38e5b8",
                "10727d2.6bf8a83"
            ]
        ]
    },
    {
        "id": "7ac4529d.753f2c",
        "type": "ui_gauge",
        "z": "df3448ae.3b3be8",
        "name": "Water Level",
        "group": "76ac188b.7279c8",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Water ",
        "label": "%",
        "format": "{{msg.payload.water}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2bf3a48.38e5b8",
        "type": "json",
        "z": "df3448ae.3b3be8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "7ac4529d.753f2c",
                "438102a9.b3e02c",
                "fdafa21b.a1a62",
                "5cfd9947.228c98",
                "57c593a0.2ed66c",
                "9edb3015.c8637",
                "cf55ff0f.0602e",
                "c80ce104.916eb",
                "2aa4e551.2961ea"
            ]
        ]
    },
    {
        "id": "7bf5c94b.e16a68",
        "type": "ui_gauge",
        "z": "df3448ae.3b3be8",
        "name": "Food Level",
        "group": "76ac188b.7279c8",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "<i class=\"fa fa-cutlery\" aria-hidden=\"true\"></i> Food",
        "label": "%",
        "format": "{{msg.payload.food}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "438102a9.b3e02c",
        "type": "template",
        "z": "df3448ae.3b3be8",
        "name": "Change color",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"options\":{\n        \"waveColor\":\"#994C00\"\n    }\n}",
        "output": "json",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "7bf5c94b.e16a68"
            ]
        ]
    },
    {
        "id": "ca32e01.f51222",
        "type": "ui_ui_control",
        "z": "27157737.c8f3b8",
        "name": "Login transition",
        "events": "all",
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3015b73.10f6448",
        "type": "ui_form",
        "z": "27157737.c8f3b8",
        "name": "Login form ",
        "label": "LOGIN",
        "group": "9bb4db2c.707848",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "4f1b2796.f8e7c8"
            ]
        ]
    },
    {
        "id": "4f1b2796.f8e7c8",
        "type": "function",
        "z": "27157737.c8f3b8",
        "name": "Check login",
        "func": "msg.login = false;\nif (msg.payload.username == global.get(\"account\").uname && msg.payload.password==global.get(\"account\").pwd){\n    msg.login= true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "a2185ffa.923dd"
            ]
        ]
    },
    {
        "id": "a2185ffa.923dd",
        "type": "switch",
        "z": "27157737.c8f3b8",
        "name": "Check login",
        "property": "login",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "3aa46610.d9507a"
            ]
        ]
    },
    {
        "id": "3aa46610.d9507a",
        "type": "function",
        "z": "27157737.c8f3b8",
        "name": "Transition",
        "func": "msg.payload = {\n    tab: \"Condition\",\n    tabs: \n    {\n        enable:[\"Wikipedia\",\"Condition\",\"Setting\"],\n        hide:[\"Login\"],\n        show:[\"Wikipedia\",\"Condition\",\"Setting\"],\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "ca32e01.f51222"
            ]
        ]
    },
    {
        "id": "1e28f233.106fbe",
        "type": "inject",
        "z": "27157737.c8f3b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "16d1ca6b.6b5386"
            ]
        ]
    },
    {
        "id": "16d1ca6b.6b5386",
        "type": "function",
        "z": "27157737.c8f3b8",
        "name": "Login session",
        "func": "msg.payload = \n{tab:\"Login\",\n tabs: {\n    disable:[\"Wikipedia\",\"Condition\",\"Setting\"],\n    hide:[\"Wikipedia\",\"Condition\",\"Setting\"],\n    show:[\"Login\"],\n    focus:true\n }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "99f2b8e8.2be438"
            ]
        ]
    },
    {
        "id": "99f2b8e8.2be438",
        "type": "ui_ui_control",
        "z": "27157737.c8f3b8",
        "name": "Login session",
        "events": "all",
        "x": 500,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6052d29f.d7c6dc",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "DisplayData",
        "func": "var tmp = global.get(\"Fish\")\nvar arr = []\nfor (var i = 0; i < tmp.length; i++)\n{\n    var t_obj = {};\n    t_obj[tmp[i][0]] = i\n    arr.push(t_obj)\n}\n\nreturn {options:arr};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "d1d5b690.29dcf8"
            ]
        ]
    },
    {
        "id": "d1d5b690.29dcf8",
        "type": "ui_dropdown",
        "z": "8980df89.7c554",
        "name": "Fish template",
        "label": "<i class=\"fa fa-building\" aria-hidden=\"true\"></i> Fish template",
        "tooltip": "",
        "place": "Select fish",
        "group": "8ca6549a.4df1c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "b53b37d5.905658"
            ]
        ]
    },
    {
        "id": "8e4c6680.0868c8",
        "type": "inject",
        "z": "8980df89.7c554",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "6052d29f.d7c6dc"
            ]
        ]
    },
    {
        "id": "b53b37d5.905658",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Dropdown choice",
        "func": "flow.set(\"Chosen\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "9d463b95.4f6468"
            ]
        ]
    },
    {
        "id": "c041f01c.cd025",
        "type": "ui_form",
        "z": "8980df89.7c554",
        "name": "Custom condition",
        "label": "<i class=\"fa fa-wrench\" aria-hidden=\"true\"></i> Custom condition",
        "group": "8ca6549a.4df1c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Min pH",
                "value": "min_ph",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Max pH",
                "value": "max_ph",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Min Temperature",
                "value": "min_temp",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Max Temperature",
                "value": "max_temp",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "min_ph": "",
            "max_ph": "",
            "min_temp": "",
            "max_temp": "",
            "email": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "bffbf3c8.6efda"
            ]
        ]
    },
    {
        "id": "fdafa21b.a1a62",
        "type": "ui_gauge",
        "z": "df3448ae.3b3be8",
        "name": "Temperature",
        "group": "76ac188b.7279c8",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i> Temperature",
        "label": "°C",
        "format": "{{msg.payload.temp}}",
        "min": "-50",
        "max": "50 ",
        "colors": [
            "#00b500",
            "#e6e600",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "5cfd9947.228c98",
        "type": "ui_gauge",
        "z": "df3448ae.3b3be8",
        "name": "pH ",
        "group": "76ac188b.7279c8",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "<i class=\"fa fa-balance-scale\" aria-hidden=\"true\"></i> pH",
        "label": "",
        "format": "{{msg.payload.ph}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#cb803a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "bffbf3c8.6efda",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Verify",
        "func": "global.set(\"setting\", msg.payload)\nvar err = {\n    payload: 0\n}\n\nif (msg.payload.max_ph != null && msg.payload.min_ph != null && msg.payload.max_temp != null && msg.payload.min_temp != null)\n{\n    if (msg.payload.max_ph < msg.payload.min_ph || msg.payload.max_temp < msg.payload.min_temp)\n        return err\n    return {payload:1}\n}\nelse if (msg.payload.max_ph == null && msg.payload.min_ph == null && msg.payload.max_temp == null && msg.payload.min_temp == null && msg.payload.email != \"\")\n    return {payload:1}\nreturn err",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "e2417721.944e38"
            ]
        ]
    },
    {
        "id": "e2417721.944e38",
        "type": "switch",
        "z": "8980df89.7c554",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "1b7c5c37.e941e4",
                "a9bbd598.4d8fe8"
            ],
            [
                "3ea29d2.fdbec62"
            ]
        ]
    },
    {
        "id": "1b7c5c37.e941e4",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Invalid information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "70e81c1f.215524",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chosen",
                "pt": "flow",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5a610851.4557c8",
        "type": "inject",
        "z": "8980df89.7c554",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "70e81c1f.215524"
            ]
        ]
    },
    {
        "id": "a9bbd598.4d8fe8",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "setting",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "32607c0a.a2cde4",
        "type": "ui_text",
        "z": "8980df89.7c554",
        "group": "949bac93.8ca2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Max pH",
        "label": "<i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i> Max pH",
        "format": "{{max_ph}}",
        "layout": "row-spread",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "1bcd5550.6a8c1b",
        "type": "ui_text",
        "z": "8980df89.7c554",
        "group": "949bac93.8ca2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Min pH",
        "label": "<i class=\"fa fa-minus-circle\" aria-hidden=\"true\"></i> Min pH",
        "format": "{{min_ph}}",
        "layout": "row-spread",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "73e49fcd.1bd27",
        "type": "ui_text",
        "z": "8980df89.7c554",
        "group": "949bac93.8ca2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Min temperature",
        "label": "<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"></i> Min temperature",
        "format": "{{min_temp}}",
        "layout": "row-spread",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "2bc13888.a5cad8",
        "type": "ui_text",
        "z": "8980df89.7c554",
        "group": "949bac93.8ca2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Max temperature",
        "label": "<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i> Max temperature",
        "format": "{{max_temp}}",
        "layout": "row-spread",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d463b95.4f6468",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Setting",
        "func": "var tmp = global.get(\"Fish\")\nvar str_temp = tmp[flow.get(\"Chosen\")][1]\nvar str_ph = tmp[flow.get(\"Chosen\")][2]\nvar arr_temp = str_temp.split(\"-\")\nvar arr_ph = str_ph.split(\"-\")\nvar obj = {\n    max_ph: arr_ph[1],\n    min_ph: arr_ph[0],\n    max_temp: arr_temp[1],\n    min_temp: arr_temp[0],\n    email: \"\"\n}\n\nglobal.set(\"setting\", obj)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 400,
        "wires": [
            [
                "3ea29d2.fdbec62"
            ]
        ]
    },
    {
        "id": "3ea29d2.fdbec62",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Display",
        "func": "var newMsg = {\n    max_temp: global.get(\"setting\").max_temp,\n    min_temp: global.get(\"setting\").min_temp,\n    max_ph: global.get(\"setting\").max_ph,\n    min_ph: global.get(\"setting\").min_ph,\n    email: global.get(\"setting\").email\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "32607c0a.a2cde4",
                "1bcd5550.6a8c1b",
                "2bc13888.a5cad8",
                "73e49fcd.1bd27",
                "71978a8e.5ba5c4",
                "d5a40cb3.2ab3"
            ]
        ]
    },
    {
        "id": "71978a8e.5ba5c4",
        "type": "ui_text",
        "z": "8980df89.7c554",
        "group": "949bac93.8ca2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Email",
        "label": "<i class=\"fa fa-envelope\" aria-hidden=\"true\"></i> Email",
        "format": "{{email}}",
        "layout": "row-spread",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "57c593a0.2ed66c",
        "type": "http request",
        "z": "df3448ae.3b3be8",
        "name": "Cloud- save water",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=UEA1UQZY2F37NNSQ&field1={{{payload.water}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9edb3015.c8637",
        "type": "http request",
        "z": "df3448ae.3b3be8",
        "name": "Cloud- save food",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=UEA1UQZY2F37NNSQ&field2={{{payload.food}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cf55ff0f.0602e",
        "type": "http request",
        "z": "df3448ae.3b3be8",
        "name": "Cloud- save temperature",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=UEA1UQZY2F37NNSQ&field3={{{payload.temp}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c80ce104.916eb",
        "type": "http request",
        "z": "df3448ae.3b3be8",
        "name": "Cloud- save pH",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=UEA1UQZY2F37NNSQ&field4={{{payload.ph}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa4e551.2961ea",
        "type": "function",
        "z": "df3448ae.3b3be8",
        "name": "Check",
        "func": "var setting = global.get(\"setting\")\nmail = \"\"\nif (setting == null)\n{\nmsg.payload = mail\nreturn msg\n}\n\nif (setting.max_temp < msg.payload.temp)\nmail += \"Current temperature is higher than usual\\nMaximum: \" + setting.max_temp + \"\\nCurrent: \" + msg.payload.temp + \"\\n\"\nif (setting.max_ph < msg.payload.ph)\nmail += \"Current pH is higher than usual\\nMaximum: \" + setting.max_ph + \"\\nCurrent: \" + msg.payload.ph + \"\\n\"\nif (setting.min_temp > msg.payload.temp)\nmail += \"Current temperature is lower than usual\\nMinimum: \" + setting.min_temp + \"\\nCurrent: \" + msg.payload.temp + \"\\n\"\nif (setting.min_ph > msg.payload.ph)\nmail += \"Current pH is lower than usual\\nMinimum: \" + setting.min_ph + \"\\nCurrent: \" + msg.payload.ph + \"\\n\"\nif (msg.payload.food < 10)\nmail += \"Current amount of food is less than 10% \\n\"\nif (msg.payload.water < 50)\nmail += \"Current level of water is less than 50% \\n\"\nmsg.payload = mail\nflow.set(\"mail\",mail)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "598ac109.efb69"
            ]
        ]
    },
    {
        "id": "598ac109.efb69",
        "type": "switch",
        "z": "df3448ae.3b3be8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "9362ca6d.da1b38"
            ]
        ]
    },
    {
        "id": "1eddb34c.7d7d1d",
        "type": "e-mail",
        "z": "df3448ae.3b3be8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "9362ca6d.da1b38",
        "type": "function",
        "z": "df3448ae.3b3be8",
        "name": "Package email",
        "func": "\nvar newMsg = {\n    topic: \"[IAQUARIUM] Dangerous condition\",\n    to: global.get(\"setting\")[\"email\"],\n    payload: flow.get(\"mail\")\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "1c8ac217.4a4b6e"
            ]
        ]
    },
    {
        "id": "30db5393.73942c",
        "type": "ui_form",
        "z": "8980df89.7c554",
        "name": "Account setting",
        "label": "",
        "group": "15b99e9f.1bd151",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "New username",
                "value": "uname",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Old username",
                "value": "ouname",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "Old password",
                "value": "opwd",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "New password",
                "value": "npwd",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "Confirm new password",
                "value": "cnpwd",
                "type": "password",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "ouname": "",
            "opwd": "",
            "npwd": "",
            "cnpwd": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "2a48cc91.880ac4"
            ]
        ]
    },
    {
        "id": "2a48cc91.880ac4",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Confirm",
        "func": "var erpwd = {\n    payload: 1\n}\nvar erform = {\n    payload:-1\n}\nvar ok = {\n    payload:0\n}\nvar eropwd = {\n    payload: 2\n}\nvar erouname = {\n    payload: 3\n}\nif (msg.payload.uname != \"\" && msg.payload.ouname != \"\" && msg.payload.opwd != \"\" && msg.payload.cnpwd != \"\" && msg.payload.npwd != \"\" )\n{\n    if (msg.payload.npwd != msg.payload.cnpwd)\n        return erpwd\n    if (msg.payload.ouname != global.get(\"account\").uname)\n        return erouname\n    if (msg.payload.opwd != global.get(\"account\").pwd)\n        return eropwd\n    global.set(\"account\",{uname: msg.payload.uname, pwd: msg.payload.npwd})\n    return ok\n}\nreturn erform",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 500,
        "wires": [
            [
                "6f81d1c.379643"
            ]
        ]
    },
    {
        "id": "26ca98d.2963968",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "account",
                "pt": "global",
                "to": "{\"uname\":\"admin\",\"pwd\":\"admin\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8bcb447e.96d478",
        "type": "inject",
        "z": "8980df89.7c554",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "26ca98d.2963968"
            ]
        ]
    },
    {
        "id": "6f81d1c.379643",
        "type": "switch",
        "z": "8980df89.7c554",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "6a6be36a.c733cc"
            ],
            [
                "b6e764b6.152c08"
            ],
            [
                "9ed62659.f7b958"
            ],
            [
                "3bd8f7ab.ee6af8"
            ],
            [
                "5c79a805.1473b8"
            ]
        ]
    },
    {
        "id": "d5a40cb3.2ab3",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Updated",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Setting updated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "b6e764b6.152c08",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Password",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Confirmed password does not match new password",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "9ed62659.f7b958",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Incomplete",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Invalid information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 620,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "6a6be36a.c733cc",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Changed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Account's changed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "3bd8f7ab.ee6af8",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Old password",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Wrong old password",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "6e72759f.f4cb9c",
        "type": "mqtt in",
        "z": "df3448ae.3b3be8",
        "name": "",
        "topic": "Web/control/light",
        "qos": "2",
        "datatype": "auto",
        "broker": "6599e412.12713c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "6b81677f.28f748"
            ]
        ]
    },
    {
        "id": "fdab942d.ab5c98",
        "type": "mqtt in",
        "z": "df3448ae.3b3be8",
        "name": "",
        "topic": "Web/control/fan",
        "qos": "2",
        "datatype": "auto",
        "broker": "6599e412.12713c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "3fa936f2.49dfea"
            ]
        ]
    },
    {
        "id": "3fa936f2.49dfea",
        "type": "ui_led",
        "z": "df3448ae.3b3be8",
        "order": 1,
        "group": "6cceee71.9d0ba",
        "width": 0,
        "height": 0,
        "label": "<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"></i> LED Status ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 360,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b81677f.28f748",
        "type": "ui_led",
        "z": "df3448ae.3b3be8",
        "order": 2,
        "group": "6cceee71.9d0ba",
        "width": 0,
        "height": 0,
        "label": "<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i> Fan ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Fan",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "10727d2.6bf8a83",
        "type": "countdown",
        "z": "df3448ae.3b3be8",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": 30,
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "6d1f7e6a.b3d5d"
            ],
            []
        ]
    },
    {
        "id": "e96abb85.bd51f8",
        "type": "mqtt out",
        "z": "df3448ae.3b3be8",
        "name": "",
        "topic": "Web/condition/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6599e412.12713c",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "226cba71.c41056",
        "type": "change",
        "z": "df3448ae.3b3be8",
        "name": "System failed",
        "rules": [
            {
                "t": "set",
                "p": "mail",
                "pt": "flow",
                "to": "SYSTEM IS NOT RESPONDING",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "9362ca6d.da1b38"
            ]
        ]
    },
    {
        "id": "6d1f7e6a.b3d5d",
        "type": "change",
        "z": "df3448ae.3b3be8",
        "name": "Get condition",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\": \"GET\", \"info\": \"condition\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "e96abb85.bd51f8",
                "37f0ae2e.9ca312"
            ]
        ]
    },
    {
        "id": "635a98dd.379758",
        "type": "GSheet",
        "z": "b040149.50cdce8",
        "creds": "96d6fda7.7e85a",
        "method": "get",
        "action": "",
        "sheet": "1-RCkou1-fFh03lOdM4pBDjvVid5J3f6aVKq9PC3tQeE",
        "cells": "Sheet1!A2:F6",
        "flatten": false,
        "name": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "6a79dea.68a202"
            ]
        ]
    },
    {
        "id": "914ad8cd.3f4588",
        "type": "ui_dropdown",
        "z": "b040149.50cdce8",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select fish",
        "group": "80cc5dbc.88601",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 160,
        "wires": [
            [
                "512445d8.40756c"
            ]
        ]
    },
    {
        "id": "6a79dea.68a202",
        "type": "function",
        "z": "b040149.50cdce8",
        "name": "GetData",
        "func": "var tmp1 = []\nvar tmp2 = []\nfor (var i = 0; i < msg.payload.length; i++)\n{\n    var t_obj = {};\n    t_obj[msg.payload[i][0]] = i\n    tmp1.push(t_obj)\n    tmp2.push(msg.payload[i])\n}\nglobal.set(\"Fish\",tmp2);\nvar newMsg = {\n    options: tmp1\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "914ad8cd.3f4588"
            ]
        ]
    },
    {
        "id": "a1a52f.98b64ad",
        "type": "inject",
        "z": "b040149.50cdce8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "635a98dd.379758"
            ]
        ]
    },
    {
        "id": "ba4d7178.dc48",
        "type": "ui_template",
        "z": "b040149.50cdce8",
        "group": "f8439ecd.7a9c1",
        "name": "",
        "order": 2,
        "width": "10",
        "height": "10",
        "format": "<h2>\n    Info:\n</h2>\n<div>\n    <h4 style=\"display: inline;\">Temperature: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[1]}}</h4>\n    <h4 style=\"display: inline;\"> °C</h4>\n</div>\n<div>\n    <h4 style=\"display: inline;\">pH: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[2]}}</h4>\n</div>\n<div>\n    <h4 style=\"display: inline;\">Water change: </h4>\n    <h4 style=\"display: inline;\">{{msg.payload[3]}}</h4>\n    <h4 style=\"display: inline;\"> %</h4>\n</div>\n<br>\n<div> {{msg.payload[5]}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "512445d8.40756c",
        "type": "function",
        "z": "b040149.50cdce8",
        "name": "PrintData",
        "func": "var fish = global.get(\"Fish\")\nvar newMsg = {\n    payload: fish[msg.payload]\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ba4d7178.dc48",
                "73f1d52.3ac792c"
            ]
        ]
    },
    {
        "id": "73f1d52.3ac792c",
        "type": "ui_template",
        "z": "b040149.50cdce8",
        "group": "80cc5dbc.88601",
        "name": "",
        "order": 0,
        "width": "10",
        "height": "9",
        "format": "<img src={{msg.payload[4]}}>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 580,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1c8ac217.4a4b6e",
        "type": "switch",
        "z": "df3448ae.3b3be8",
        "name": "To",
        "property": "to",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "1eddb34c.7d7d1d"
            ]
        ]
    },
    {
        "id": "14b7038d.58fa3c",
        "type": "mqtt out",
        "z": "8980df89.7c554",
        "name": "",
        "topic": "Web/control/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6599e412.12713c",
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "a5c305ce.7ea148",
        "type": "ui_switch",
        "z": "8980df89.7c554",
        "name": "LED",
        "label": "<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"></i> LED",
        "tooltip": "",
        "group": "e3d094f5.97eed8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 640,
        "wires": [
            [
                "14b7038d.58fa3c"
            ]
        ]
    },
    {
        "id": "22a2a4cb.84a21c",
        "type": "mqtt out",
        "z": "8980df89.7c554",
        "name": "",
        "topic": "Web/control/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6599e412.12713c",
        "x": 260,
        "y": 680,
        "wires": []
    },
    {
        "id": "eafa79d.6fd7b88",
        "type": "ui_switch",
        "z": "8980df89.7c554",
        "name": "Fan",
        "label": "<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i> Fan",
        "tooltip": "",
        "group": "e3d094f5.97eed8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "22a2a4cb.84a21c"
            ]
        ]
    },
    {
        "id": "64e03d5a.633d74",
        "type": "ui_template",
        "z": "8980df89.7c554",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "37f0ae2e.9ca312",
        "type": "countdown",
        "z": "df3448ae.3b3be8",
        "name": "Time-out",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "60",
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": false,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "226cba71.c41056"
            ],
            []
        ]
    },
    {
        "id": "5c79a805.1473b8",
        "type": "change",
        "z": "8980df89.7c554",
        "name": "Old username",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Wrong old username",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "aa91de1d.23ee1"
            ]
        ]
    },
    {
        "id": "aa91de1d.23ee1",
        "type": "ui_toast",
        "z": "8980df89.7c554",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "1263b51c.987b7b",
        "type": "ui_button",
        "z": "8980df89.7c554",
        "name": "Log out",
        "group": "15b99e9f.1bd151",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log out",
        "tooltip": "",
        "color": "#FF0000",
        "bgcolor": "",
        "icon": "fa-sign-out",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "523fa0f.c86966"
            ]
        ]
    },
    {
        "id": "523fa0f.c86966",
        "type": "function",
        "z": "8980df89.7c554",
        "name": "Logout session",
        "func": "msg.payload = \n{tab:\"Login\",\n tabs: {\n    disable:[\"Wikipedia\",\"Condition\",\"Setting\"],\n    hide:[\"Wikipedia\",\"Condition\",\"Setting\"],\n    show:[\"Login\"],\n    focus:true\n }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 760,
        "wires": [
            [
                "b88d8eb7.8e588"
            ]
        ]
    },
    {
        "id": "b88d8eb7.8e588",
        "type": "ui_ui_control",
        "z": "8980df89.7c554",
        "name": "Logout session",
        "events": "all",
        "x": 500,
        "y": 760,
        "wires": [
            []
        ]
    }
]